# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.vscode/

weights/my-lm_epochs-1000_v1.pth
weights/my-lm_epochs-1000_v2.pth
weights/my-lm_epochs-1000.pth
